<div style = "text-align: center"> <h1> Assignment 3 </h1> </div>

<h2 style = 'text-align: left';> Assignment Questions </h2>

<h3 style = 'text-align: left';> 1. Explain with an example each when to use a for loop and a while loop. </h3>

<h3 style =  'text-align: left';> (A) For Loop: - </h3>

<p><b>A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).<br>
This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.<br>
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.</b><br>
</p>

<h3 style = 'text-align: left';> Example 1: - </h3>

In [103]:
job_profile = ["Web Developer", "Java Developer", "Python Developer", "Business Analyst", "Data Scientist"]

for i in job_profile:
    print(i)

Web Developer
Java Developer
Python Developer
Business Analyst
Data Scientist

<h3 style = 'text-align: left';> Example 2: - </h3>

In [104]:
for x in range(6):
    print(x)

0
1
2
3
4
5

<h3 style = 'text-align: left';> (B) While Loop: - </h3>

<p>
<b>
Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. <br>
And when the condition becomes false, the line immediately after the loop in the program is executed.

Syntax: 
    
while expression:  
&emsp;&emsp;statement(s)
</b>
</p>

<h3 style = 'text-align: left';> Example 1: - </h3>

In [107]:
a = [1,2,3,4,5]

while a:
    print(a.pop())

5
4
3
2
1

<h3 style = 'text-align: left';> Example 2: - </h3>

In [108]:
n = 7

i = 1

while i <= 10:
    print(n, "X", i, "=", n*i)
    i = i + 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

<h3 style = 'text-align: left';> 2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop. </h3>

<h3 style = 'text-align: left';> (A) For Loop: - </h3>

In [110]:
sum = 0
prd = 1
for i in range (1,11):
    sum = sum + i
    prd = prd * i
print("Sum of the first 10 natural number is", sum)
print("Product of the first 10 natural number is", prd)

Sum of the first 10 natural number is 55
Product of the first 10 natural number is 3628800

<h3 style = 'text-align: left';> (B) While Loop: - </h3>

In [111]:
n = 10
i = 1

s = 0
p = 1

while i <= n:
    s = s + i
    p = p * i
    
    i = i + 1

print("Sum of the first 10 natural number is", sum)
print("Product of the first 10 natural number is", prd)

Sum of the first 10 natural number is 55
Product of the first 10 natural number is 3628800

<h3 style = 'text-align: left';> 
3. Create a python program to compute the electricity bill for a household.<br><br>
The per-unit charges in rupees are as follows:<br>
For the first 100 units, the user will be charged Rs. 4.5 per unit<br>
For the next 100 units , the user will be charged Rs. 6 per unit<br>
And for the next 100 units, the user will be charged Rs. 10 per unit<br>
After 300 hours units and above the user will be charged Rs. 20 per unit <br>

You are required to take the units of electricity consumed in a month from the user as input.<br>

Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
310, the total electricity bill should be 2250<br>
</h3>

In [112]:
unit_of_electricity = int(input("Enter the unit of electricity consumed: "))

if(unit_of_electricity <= 100):
    print("Electricity is consumed:",unit_of_electricity * 4.5)
elif(unit_of_electricity > 100 and unit_of_electricity <= 200):
    print("Electricity is consumed:",(100 * 4.5) + (unit_of_electricity - 100) * 6)
elif(unit_of_electricity > 200 and unit_of_electricity  <= 300):
    print("Electricity is consumed:",(100*4.5) + (100*6) + (unit_of_electricity  - 200) * 10)
else:
    print("Electricity is consumed:", (100*4.5) + (100*6) + (100*10) + (unit_of_electricity  - 300) * 20)

Enter the unit of electricity consumed: 310
Electricity is consumed: 2250.0

<h3 style = 'text-align: left';> 4.  Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list. </h3>

In [95]:
numbers = list(range(1,101))

<h3 style = 'text-align: left';> (A) For Loop: - </h3>

In [113]:
l1 = []
for i in numbers:
    cube = i * i * i
    print(i,"=",cube)
    if(cube % 4 == 0 or cube % 5 == 0):
        l1.append(i)
    i = i + 1    
print("The number whose cube is divisible by 4 or 5:",l1)

1 = 1
2 = 8
3 = 27
4 = 64
5 = 125
6 = 216
7 = 343
8 = 512
9 = 729
10 = 1000
11 = 1331
12 = 1728
13 = 2197
14 = 2744
15 = 3375
16 = 4096
17 = 4913
18 = 5832
19 = 6859
20 = 8000
21 = 9261
22 = 10648
23 = 12167
24 = 13824
25 = 15625
26 = 17576
27 = 19683
28 = 21952
29 = 24389
30 = 27000
31 = 29791
32 = 32768
33 = 35937
34 = 39304
35 = 42875
36 = 46656
37 = 50653
38 = 54872
39 = 59319
40 = 64000
41 = 68921
42 = 74088
43 = 79507
44 = 85184
45 = 91125
46 = 97336
47 = 103823
48 = 110592
49 = 117649
50 = 125000
51 = 132651
52 = 140608
53 = 148877
54 = 157464
55 = 166375
56 = 175616
57 = 185193
58 = 195112
59 = 205379
60 = 216000
61 = 226981
62 = 238328
63 = 250047
64 = 262144
65 = 274625
66 = 287496
67 = 300763
68 = 314432
69 = 328509
70 = 343000
71 = 357911
72 = 373248
73 = 389017
74 = 405224
75 = 421875
76 = 438976
77 = 456533
78 = 474552
79 = 493039
80 = 512000
81 = 531441
82 = 551368
83 = 571787
84 = 592704
85 = 614125
86 = 636056
87 = 658503
88 = 681472
89 = 704969
90 = 729000
91 = 753571
92 = 778688
93 = 804357
94 = 830584
95 = 857375
96 = 884736
97 = 912673
98 = 941192
99 = 970299
100 = 1000000
The number whose cube is divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

<h3  style = 'text-align: left';> (B) While Loop: - </h3>

In [114]:
len(numbers)

100

In [115]:
j = 1

l2 = []

while j <= len(numbers):
    c = j * j * j
    print(j,"=",c)
    if(c % 4 == 0 or c % 5 == 0):
        l2.append(j)
    j = j + 1
print("The number whose cube is divisible by 4 or 5:",l2)

1 = 1
2 = 8
3 = 27
4 = 64
5 = 125
6 = 216
7 = 343
8 = 512
9 = 729
10 = 1000
11 = 1331
12 = 1728
13 = 2197
14 = 2744
15 = 3375
16 = 4096
17 = 4913
18 = 5832
19 = 6859
20 = 8000
21 = 9261
22 = 10648
23 = 12167
24 = 13824
25 = 15625
26 = 17576
27 = 19683
28 = 21952
29 = 24389
30 = 27000
31 = 29791
32 = 32768
33 = 35937
34 = 39304
35 = 42875
36 = 46656
37 = 50653
38 = 54872
39 = 59319
40 = 64000
41 = 68921
42 = 74088
43 = 79507
44 = 85184
45 = 91125
46 = 97336
47 = 103823
48 = 110592
49 = 117649
50 = 125000
51 = 132651
52 = 140608
53 = 148877
54 = 157464
55 = 166375
56 = 175616
57 = 185193
58 = 195112
59 = 205379
60 = 216000
61 = 226981
62 = 238328
63 = 250047
64 = 262144
65 = 274625
66 = 287496
67 = 300763
68 = 314432
69 = 328509
70 = 343000
71 = 357911
72 = 373248
73 = 389017
74 = 405224
75 = 421875
76 = 438976
77 = 456533
78 = 474552
79 = 493039
80 = 512000
81 = 531441
82 = 551368
83 = 571787
84 = 592704
85 = 614125
86 = 636056
87 = 658503
88 = 681472
89 = 704969
90 = 729000
91 = 753571
92 = 778688
93 = 804357
94 = 830584
95 = 857375
96 = 884736
97 = 912673
98 = 941192
99 = 970299
100 = 1000000
The number whose cube is divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

<h3 style = 'text-align: left';> 5.  Write a program to filter count vowels in the below-given string. <br>

string = "I want to become a data scientist" </h3>

In [100]:
filter = []
count = 0
str = "I want to become a data scientist"
for i in str:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        filter.append(i)
        count = count + 1;
print("Filter vowels:",filter)        
print("Count vowels:",count)

Filter vowels: ['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
Count vowels: 12

<h4 style='text-align: right;'><b> Yash Sanjeev Halwai </b> </h4>