<div style="text-align: center"> <h1>Assignment 5</h1></div>

<h2 style='text-align: left;'> Assignment Questions </h2>

<h3 style='text-align: left;'> 1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. <br><br>
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
</h3>

In [31]:
cricketer = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [32]:
newList = sorted(cricketer, key = lambda x : x[1], reverse = False)

In [33]:
print(newList)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [34]:
#Another way
cricketer.sort(key = lambda x:x[1])

In [35]:
print(cricketer)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

<h3 style='text-align: left;'> 2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions. <br><br>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
</h3>

In [36]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
sq = list(map(lambda x : x ** 2, number))

In [38]:
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
square_number = list(map(lambda x : x ** 2, number))

In [40]:
print(square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<h3 style='text-align: left;'>
3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions.
<br>
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<br>
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
</h3>

In [41]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
s = tuple(map(lambda x : x, L))

In [43]:
s1 = tuple(map(lambda x : str(x), L))

In [44]:
print(s1)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [45]:
S = tuple(map(str,L))

In [46]:
print(S)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

<h3 style='text-align: left;'>
4.   Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.
</h3>

In [47]:
from functools import reduce

In [48]:
number = []
for i in range(1,26):
    number.append(i)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [49]:
reduce(lambda x,y:x*y,number)

15511210043330985984000000

In [50]:
import operator

In [51]:
# using reduce to compute product
# using operator functions
print("The product of list elements is : ", end="")
print(reduce(operator.mul, number))

The product of list elements is : 15511210043330985984000000

<h3 style='text-align: left;'>
5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.
<br><br>
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]    
</h3>

In [52]:
number = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [53]:
list(filter(lambda x : x % 2 == 0 and x % 3 == 0,number))

[6, 60, 90, 120]

<h3 style='text-align: left;'>
6.  Write a python program to find palindromes in the given list of strings using lambda and filter 
function.
<br><br>
['python', 'php', 'aba', 'radar', 'level']
</h3>

In [54]:
s = ['python', 'php', 'aba', 'radar', 'level']

In [55]:
list(filter(lambda x : x == x[::-1], s))

['php', 'aba', 'radar', 'level']

<h4 style='text-align: right;'>Yash Sanjeev Halwai</h4>