<div style="text-align: center"> <h1>Assignment 16</h1></div>

<h2 style='text-align: left;'> Assignment Questions </h2>

<h3 style='text-align: left;'> 1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases? </h3>

<p> <b> Ans:- <br> <br> MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.</b> </p>

<p> <b> A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices. </b> </p>

<p> <b> Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases are expensive and it uses big servers and storage systems. So the storing and processing data cost per gigabyte in the case of NoSQL can be many times lesser than the cost of RDBMS. </b> </p>

<h3 style='text-align: left;'> 2. State and Explain the features of MongoDB. </h3>

<p> <b> Ans:- <br> <br> These are some important features of MongoDB: <br> 1. Support ad hoc queries:- <br> In MongoDB, you can search by field, range query and it also supports regular expression searches. <br> 2. Indexing:- <br> You can index any field in a document. <br> 3. Replication:- <br> MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes). <br> 4. Duplication of data:- <br> MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure. <br> 5. Load balancing:- <br> It has an automatic load balancing configuration because of data placed in shards. <br> 6. Supports map reduce and aggregation tools. <br> 7. Uses JavaScript instead of Procedures. <br> 8. It is a schema-less database written in C++. <br> 9. Provides high performance. <br> 10. Stores files of any size easily without complicating your stack. <br> 11. Easy to administer in the case of failures. <br> 12. It also supports: <br> i. JSON data model with dynamic schemas. <br> ii. Auto-sharding for horizontal scalability. <br> iii. Built in replication for high availability.</b> </p>

<h3 style='text-align: left;'> 3.  Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB. </h3>

In [8]:
pip install pymongo #install driver

Requirement already satisfied: pymongo in c:\users\halwa\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\halwa\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo #import

In [4]:
# Creating instance of mongoclient  
client = pymongo.MongoClient("mongodb+srv://halwaiyash34:yash@cluster0.lfehl3b.mongodb.net/?retryWrites=true&w=majority")

In [5]:
# Creating database  
db = client['assignment']

In [6]:
# record
data = {"name" : "sudh", "class" : "data science masters", "time" : "flexi"}

In [7]:
# Creating document  (collection)
coll_pwskills = db["my_record"]

In [9]:
# Inserting data  
coll_pwskills.insert_one(data)

In [10]:
# Fetching data  
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6415e52cd3bda96beab25c0b'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

<h3 style='text-align: left;'> 4.  Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record. </h3>

In [14]:
# record
data1 = {"mail_id" : "sudh@gmail.com", "phone_no": 9545321234, "address" : "banglore"}

In [15]:
# insert one record
coll_pwskills.insert_one(data1)

In [18]:
data2 = [
    
    {"name" : "Yash", "Address": "Mumbai"},
    {"name" : "Atharv", "Address": "Pune"},
    {"name": "Sanket", "Address": "Chennai"},
    {"name": "Sudh", "Address": "Banglore"},
    {"name": "Krish", "Address": "Hyderabad"}
]

In [20]:
# insert many record
coll_pwskills.insert_many(data2)

In [21]:
# find() to print the insert record
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6415e52cd3bda96beab25c0b'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6415e722d3bda96beab25c0c'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e73cd3bda96beab25c0d'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e787d3bda96beab25c0e'), 'name': 'Yash', 'Address': 'Mumbai'}
{'_id': ObjectId('6415e787d3bda96beab25c0f'), 'name': 'Atharv', 'Address': 'Pune'}
{'_id': ObjectId('6415e787d3bda96beab25c10'), 'name': 'Sanket', 'Address': 'Chennai'}
{'_id': ObjectId('6415e787d3bda96beab25c11'), 'name': 'Sudh', 'Address': 'Banglore'}
{'_id': ObjectId('6415e787d3bda96beab25c12'), 'name': 'Krish', 'Address': 'Hyderabad'}

In [22]:
# find_one() to print the insert record
result = coll_pwskills.find_one({"address" : "banglore"})

In [23]:
print(result)

{'_id': ObjectId('6415e722d3bda96beab25c0c'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}

In [26]:
# find() to print the insert record
for i in coll_pwskills.find({"address" : "banglore"}):
    print(i)

{'_id': ObjectId('6415e722d3bda96beab25c0c'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e73cd3bda96beab25c0d'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}

<h3 style='text-align: left;'> 5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this. </h3>

<p> <b> Ans:- <br> <br> In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record. </b> </p>

In [29]:
# find() to print the insert record
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6415e52cd3bda96beab25c0b'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('6415e722d3bda96beab25c0c'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e73cd3bda96beab25c0d'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e787d3bda96beab25c0e'), 'name': 'Yash', 'Address': 'Mumbai'}
{'_id': ObjectId('6415e787d3bda96beab25c0f'), 'name': 'Atharv', 'Address': 'Pune'}
{'_id': ObjectId('6415e787d3bda96beab25c10'), 'name': 'Sanket', 'Address': 'Chennai'}
{'_id': ObjectId('6415e787d3bda96beab25c11'), 'name': 'Sudh', 'Address': 'Banglore'}
{'_id': ObjectId('6415e787d3bda96beab25c12'), 'name': 'Krish', 'Address': 'Hyderabad'}

In [28]:
# find() to print the insert record
for i in coll_pwskills.find({"address" : "banglore"}):
    print(i)

{'_id': ObjectId('6415e722d3bda96beab25c0c'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}
{'_id': ObjectId('6415e73cd3bda96beab25c0d'), 'mail_id': 'sudh@gmail.com', 'phone_no': 9545321234, 'address': 'banglore'}

In [31]:
f = coll_pwskills.find()
print(f)

<pymongo.cursor.Cursor object at 0x0000023837196700>

<h3 style='text-align: left;'> 6.  Explain the sort() method. Give an example to demonstrate sorting in MongoDB. </h3>

<p> <b> Ans:- <br> <br> The sort() method specifies the order in which the query returns the matching documents from the given collection. <br> It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively. </b> </p>

In [48]:
# Creating database  
db = client['sort']

In [49]:
# Creating document  (collection)
coll_pwskills1 = db["my_rec"]

In [50]:
dataS = [
   {"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "1002", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "1003", "name": "Robert", "age": "28", "city": "Mumbai"},
   {"_id": "1004", "name": "Romeo", "age": 25, "city": "Pune"},
   {"_id": "1005", "name": "Sarmista", "age": 23, "city": "Delhi"},
   {"_id": "1006", "name": "Rasajna", "age": 26, "city": "Chennai"}
]

In [52]:
coll_pwskills1.insert_many(dataS)

In [53]:
for i in coll_pwskills1.find():
    print(i)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}

In [54]:
# Ascending sort (1)
for i in coll_pwskills1.find().sort("name",1):
    print(i)

{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}

In [55]:
# Default Ascending sort
for i in coll_pwskills1.find().sort("_id"):
    print(i)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}

In [56]:
# Descending sort (-1)
for i in coll_pwskills1.find().sort("age", -1):
    print(i)

{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1006', 'name': 'Rasajna', 'age': 26, 'city': 'Chennai'}
{'_id': '1004', 'name': 'Romeo', 'age': 25, 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': 23, 'city': 'Delhi'}

<h3 style='text-align: left;'> 7. Explain why delete_one(), delete_many(), and drop() is used. </h3>

<p> <b> Ans:- <br> <br> 1) delete_one():- <br> The deleteOne() method allows you to delete a single document from a collection. <br> <br>The deleteOne() method has the following syntax: <br> db.collection.deleteOne(filter, option)

In [58]:
coll_pwskills1.delete_one({"age": 28})

<p> <b> 2) delete_many():- <br> Delete_many() is used when one needs to delete more than one document. <br>  A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many(). <br> <br> Syntax: <br> collection.delete_many(filter, collation=None, hint=None, session=None)

In [59]:
coll_pwskills1.delete_many({"age": 26})

<p> <b> 3) drop():- <br> drop() is used to drop a collection from the database. <br><br> Basic syntax of drop() command is as follows âˆ’ <br> db.COLLECTION_NAME.drop()

In [62]:
coll_pwskills1.drop()

<h4 style='text-align: right;'> Yash Sanjeev Halwai </h4>