<div style="text-align: center"> <h1>Assignment 7</h1></div>

<h2 style='text-align: left;'> Assignment Questions </h2>

<h3 style='text-align: left;'> 1.  Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list.<br><br>
Use the below-given list as an argument for your function.<br><br>
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 
22, 61, 34)}, [56, 'data science'], 'Machine Learning']<br><br>
Note: you must extract numeric keys and values of the dictionary also.</h3>

In [2]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [3]:
# taking values of dictionary
l1 = []
for i in list1[8].values():
    l1.append(i)

In [4]:
# printing dictionary values
print(l1)

[34, [55, 67, 78, 89], (45, 22, 61, 34)]

In [5]:
# list to tuple
l1.append(list(l1[2]))

In [6]:
# remove tuple
l1.remove(l1[2])

In [7]:
# print list
print(l1)

[34, [55, 67, 78, 89], [45, 22, 61, 34]]

In [8]:
# convert it into one list
l2 = []
for sub_list in l1:
    if type(sub_list) is list:
        for item in sub_list:
            l2.append(item)
    else:
        l2.append(sub_list)

In [9]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34]

In [10]:
# extracting keys 
l3 = []
for i in list1[8].keys():
    l3.append(i)
print(l3)

[1, 'key2', 4]

In [11]:
# printing numeric keys and appending to list
for i in l3:
    if(type(i) == int):
        l2.append(i)

In [12]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4]

In [13]:
# length of l2
len(l2)

11

In [14]:
# append list1[4] int values to l2
for i in list1[4]:
    if(type(i) == int):
        l2.append(i)

In [15]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66]

In [16]:
# tuple to list
l = list(list1[6])

In [17]:
l

[34, 56, 78, 89, 34]

In [18]:
# append it to l2
l2.append(l)

In [19]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66, [34, 56, 78, 89, 34]]

In [20]:
# set to list
ll = list(list1[7])

In [21]:
l2.append(ll)

In [22]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66, [34, 56, 78, 89, 34], [1, 2, 3]]

In [23]:
# int values append to l2
for i in list1:
    if(type(i) == int):
        l2.append(i)

In [24]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66, [34, 56, 78, 89, 34], [1, 2, 3], 1, 2, 3, 4]

In [25]:
# int values append to l2
for i in list1[9]:
    if(type(i) == int):
        l2.append(i)

In [26]:
print(l2)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66, [34, 56, 78, 89, 34], [1, 2, 3], 1, 2, 3, 4, 56]

In [27]:
len(l2)

21

In [28]:
# final flat_list with all int values (numeric)
flat_list = []
for sub_l in l2:
    if type(sub_l) is list:
        for item in sub_l:
            flat_list.append(item)
    else:
        flat_list.append(sub_l)

In [29]:
print(flat_list)

[34, 55, 67, 78, 89, 45, 22, 61, 34, 1, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 2, 3, 4, 56]

In [30]:
len(flat_list)

27

In [85]:
# product of list of numbers extracted from list 1
def prod_list(l):
    prd = 1
    for i in l:
        prd = prd * i
    return prd

p = prod_list(flat_list)
print("The product of all the numbers after creating a flat list:",p)

The product of all the numbers after creating a flat list: 4134711838987085478833841242112000

<h3 style='text-align: left;'> 2.  Write a python program for encrypting a message sent to you by your friend. The logic of encryption 
should be such that, for a the output should be z. For b, the output should be y. For c, the output should 
be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation 
marks unchanged. </h3>

<h3>
Input Sentence: I want to become a Data Scientist.<br>
Encrypt the above input sentence using the program you just created.<br>
Note: Convert the given input sentence into lowercase before encrypting. The final output should be 
lowercase.
</h3>

In [80]:
# (Encrypted Sentence: i$wznt$to$yexome$z$dztz$sxientist.)

In [87]:

def sent(sentence):
    sentence = sentence.lower()
    print("Original sentence: ",sentence, "\n") # convert into lowercase

    code = {"a":"z", "b":"y", "c":"x", " ":"$"} # condition

    s = sentence[::1] # traverse the sentence

    for i in code:
        s = s.replace(i, code[i]) # replace the letter 

    print("Encrypted sentence:", s)

sentence = input("Enter the input: ")
sent(sentence)

Enter the input: I want to become a Data Scientist.
Original sentence:  i want to become a data scientist.

Encrypted sentence: i$wznt$to$yexome$z$dztz$sxientist.

<h4 style='text-align: right;'> Yash Sanjeev Halwai </h4>