<div style="text-align: center"> <h1>Assignment 15</h1></div>

<h2 style='text-align: left;'> Assignment Questions </h2>

<h3 style='text-align: left;'> 1. What is a database? Differentiate between SQL and NoSQL databases. </h3>

<p> <b> Ans:- <br> A database is an organized collection of data, so that it can be easily accessed and managed. </b> </p>

  <p> <b> <br> Difference between SQL and NoSQL </b> </p>
  <table>
    <center>
        <tr>
            <th><center>SQL</center></th>
                <th><center>NoSQL</center></th>
        </tr>
        <tr>
            <td>RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)</td>
            <td>Non-relational or distributed database system.</td>
        </tr>
        <tr>
            <td>These databases have fixed or static or predefined schema</td>
            <td>They have dynamic schema</td>
        </tr>
        <tr>
            <td>These databases are not suited for hierarchical data storage.</td>
            <td>These databases are best suited for hierarchical data storage.</td>
        </tr>
        <tr>
            <td>These databases are best suited for complex queries</td>
            <td>These databases are not so good for complex queries</td>
        </tr>
        <tr>
            <td>Vertically Scalable</td>
            <td>Horizontally scalable</td>
        </tr>
        <tr>
            <td>Follows ACID property</td>
            <td>Follows CAP(consistency, availability, partition tolerance)</td>
        </tr>
        <tr>
            <td>Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc</td>
            <td>Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc</td>
        </tr>
    </center>
</table>

<h3 style='text-align: left;'> 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. </h3>

<p> <b> Ans:- <br> A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. <br> These database objects include views, schemas, tables, indexes, etc. <br> This term is also known as data description language in some contexts, as it describes the fields and records in a database table.</b> </p>

<p> <b> CREATE:-  It is used to create a new table in the database. </b> </p>

<p> <b> SYNTAX:-  CREATE TABLE TABLE_NAME (COLUMN_NAME DATATYPES[,....]);   </b> </p>

<p> <b> EXAMPLE:-  CREATE TABLE EMPLOYEE(Name VARCHAR2(20), Email VARCHAR2(100), DOB DATE); </b> </p> <br>

<p> <b> DROP:- It is used to delete both the structure and record stored in the table. </b> </p>

<p> <b> SYNTAX:- DROP TABLE table_name; </b> </p>

<p> <b> EXAMPLE:- DROP TABLE EMPLOYEE;   </b> </p> <br>

<p> <b> ALTER:- It is used to alter the structure of the database. This change could be either to modify the characteristics of an existing attribute or probably to add a new attribute. </b> </p>

<p> <b> SYNTAX:- ALTER TABLE table_name ADD column_name COLUMN-definition; </b> </p>
<p> <b> SYNTAX:- ALTER TABLE table_name MODIFY(column_definitions....); </b> </p>

<p> <b> EXAMPLE:- ALTER TABLE STU_DETAILS ADD(ADDRESS VARCHAR2(20)); </b> </p>
<p> <b> EXAMPLE:- ALTER TABLE STU_DETAILS MODIFY (NAME VARCHAR2(20));   </b> </p> <br>

<p> <b> TRUNCATE:- It is used to delete all the rows from the table and free the space containing the table. </b> </p>

<p> <b> SYNTAX:- TRUNCATE TABLE table_name; </b> </p>

<p> <b> EXAMPLE:- TRUNCATE TABLE EMPLOYEE; </b> </p> <br>

<h3 style='text-align: left;'> 3.  What is DML? Explain INSERT, UPDATE, and DELETE with an example. </h3>

<p> <b> Ans:- <br> DML is an abbreviation of Data Manipulation Language. <br> The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands. </b> </p> <br>

<p> <b> INSERT :- Insert command is used to insert data into a table. </b> </p>

<p> <b> SYNTAX :- Insert into <table_name> (column list) values (column values); </b> </p>

<p> <b> EXAMPLE :- Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”); </b> </p> <br>

<p> <b> UPDATE :- Update command is used to update existing data within a table. </b> </p>

<p> <b> SYNTAX :- UPDATE <table_name> SET column_number =value_number WHERE condition; </b> </p>

<p> <b> EXAMPLE :- UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001; </b> </p> <br>

<p> <b> DELETE :- Delete command is used to delete records from a database table. </b> </p>

<p> <b> SYNTAX :- Delete from <table_name>WHERE condition; </b> </p>

<p> <b> EXAMPLE :- DELETE from Employee WHERE Emp_id=002; </b> </p> <br>

<h3 style='text-align: left;'> 4.  What is DQL? Explain SELECT with an example. </h3>

<p> <b> Ans:- <br> DQL stands for Data Query Language. <br> DQL is used to fetch the data from the database. <br> It uses only one command: SELECT </b> </p> <br>

<p> <b> SELECT :- This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause. </b> </p>

<b> <p> SYNTAX :- SELECT expressions FROM TABLES WHERE conditions; </b> </p>
<b> <p> EXAMPLE :- SELECT emp_name FROM employee WHERE age > 20; </b> </p>

<h3 style='text-align: left;'> 5. Explain Primary Key and Foreign Key. </h3>

<p> <b> Ans:- <br> 1) Primary Key :- <br> A primary key is used to ensure data in the specific column is unique. <br> It uniquely identifies a record in the relational database table. <br> Only one primary key is allowed in a table. <br> It is a combination of UNIQUE and Not Null constraints. <br> It does not allow NULL values. <br> Its value cannot be deleted from the parent table. <br> It constraint can be implicitly defined on the temporary tables. <br> <br> 2) Foreign Key :- <br> A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. <br> It refers to the field in a table which is the primary key of another table. <br> Whereas more than one foreign key are allowed in a table. <br> It can contain duplicate values and a table in a relational database. <br> It can also contain NULL values. <br> Its value can be deleted from the child table. <br> It constraint cannot be defined on the local or global temporary tables. </b> </p>

<h3 style='text-align: left;'> 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method. </h3>

In [4]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=81a3af188b0eaab2ba46e13f8b1d1aec6357d2b2bec70ed2a5e9b92cf1208c31
  Stored in directory: c:\users\halwa\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

# PYTHON CODE to CONNECT MYSQL TO PYTHON

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345"
)

mycursor = mydb.cursor()

# CREATE DATABASE

mycursor.execute("CREATE DATABASE mydatabase")

# SHOW DATABASE

mycursor.execute("SHOW DATABASES")

for x in mycursor:
     print(x)

# CURSOR METHOD :-

<p> <b> Cursor object can be created using cursor() method. <br> cursor() method belongs to connection object/class. </b> </p>

# EXECUTE METHOD :-

<p> <b> execute() method accepts a MySQL query as a parameter and executes the given query. </b> </p>

<h3 style='text-align: left;'> 7. Give the order of execution of SQL clauses in an SQL query. </h3>

<p> <b> Ans:- <br> The order of execution of SQL clauses in an SQL query :- <br> 1) FROM <br> 2) ON <br> 3) JOIN <br> 4) WHERE <br> 5) GROUP BY <br> 6) WITH CUBE or WITH ROLLUP <br> 7) HAVING <br> 8) SELECT <br> 9) DISTINCT <br> 10) ORDER BY <br> 11) TOP </b> </p>

<p> <b>Query Process Steps <br>
1. Getting Data (From, Join) <br>
2. Row Filter (Where) <br>
3. Grouping (Group by) <br>
4. Group Filter (Having) <br>
5. Return Expressions (Select) <br>
6. Order & Paging (Order by & Limit / Offset) 
</b> </p>

<h4 style='text-align: right;'> Yash Sanjeev Halwai </h4>